<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Notícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">

</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <h1>📰 Cadastrar Notícia</h1>

        <label>Imagens (máx. 4):</label>
        <input type="file" name="imagens" multiple accept="image/*">

        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Subtítulo:</label>
        <input type="text" name="subtitulo">

        <label>Corpo:</label>
        <textarea name="corpo" required></textarea>

        <button type="submit">Salvar Notícia</button>
        <a href="{{ url_for('painel') }}">⬅️ Voltar ao painel</a>
    </form>
</body>
</html>
