<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Notícias</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='src/BAGE_marca.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Faculty+Glyphic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section id="cabecalho">
        <div class="cabecalho">
            <img class="logoPrefeitura" src="/static/src/BAGE_marca.png" alt="Acesse o site oficial do munícipio">
            <div class="links_cabecalho">
                <a href="/#sobre">Sobre</a>
                <a href="/pgServidores">Servidores</a>
                <a href="/pgNoticias">Notícias</a>
                <a href="#contato">Contato</a>
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </section>
    <div class="corpoSite">
        <h1>Atualizações sobre a instituição</h1>
        {% if noticias %}
        <div class="cardsNoticias">
            {% for noticia in noticias%}
            <div class="cardNoticia">
                <h2>{{noticia.titulo}}</h2>
                <h3>{{noticia.subtitulo}}</h3>
                {% if noticia.imagens %}
                {% for img in noticia.imagens %}
                <img src="data:image/png;base64,{{ img }}" alt="{{ noticia.titulo }}">
                {% endfor %}
                {% endif %}
                <p>{{noticia.corpo}}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- <div class="corpoSite">
        <h1>Atualizações sobre a instituição</h1>
        <div class="cardsNoticias">
            <div class="cardNoticia">
                <h2>Notícia título</h2>
                <h3>Subtítulo muito legal cheio de texto</h3>
                <img src="/static/src/img3.jpeg">
            </div>
        </div>
    </div> -->
    <section id="contato">
        <div class="rodape">
            <h2>Fale conosco!</h2>
            <div class="textoRodape">
                <div>
                    <p>AVENIDA SANTA TECLA, 337 </br> GETÚLIO VARGAS </br> 96412-000 </br> Bagé - RS.</p>
                </div>
                <div>
                    <div class="contatos">
                        <i class="fa-solid fa-phone"></i>
                        <p>(53)3312-4879</p>
                    </div>
                    <div class="contatos">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:emefsaopedro@hotmail.com">
                            <p>emefsaopedro@hotmail.com</p>
                        </a>
                    </div>
                </div>
            </div>
            <img class="logoPrefeitura" src="/static/src/BAGE_marca.png" alt="Acesse o site oficial do munícipio">
        </div>
    </section>
</body>

</html>