/* =================== FORMULÁRIOS DE CADASTRO =================== */
form {
    max-width: 500px;
    margin: auto;
}

form button {
    margin-top: 20px;
    width: 100%;
}

form input[type="file"] {
    padding: 5px;
}

form label {
    font-size: 0.95em;
}
