body {
    margin: auto;
    min-width: 500px;
}

* {
    box-sizing: border-box;
    /*muda comportamento do navegador para calcular o padding como incluso na largura/altura, não permitindo vazamento*/
}

html {
    scroll-behavior: smooth;
}

/*SESSÃO DO CABEÇALHO INICIAL DA PÁGINA*/
.cabecalho {
    height: 5%;
    background-color: white;
    padding: 10px;
    display: flex;
    width: 100%;
    font-family: "Be Vietnam Pro", sans-serif;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, .4));
}

.logoPrefeitura {
    width: auto;
}

.links_cabecalho {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links_cabecalho a {
    text-decoration: none;
    color: black;
    transition: transform 0.35s ease-out;
}

.links_cabecalho a:hover {
    transform: scale(1.08);
}

.links_cabecalho i {
    font-size: 30px;
}

/*SESSÃO DO CORPO DO SITE*/
.corpoSite h1 {
    color: rgba(77, 94, 33);
}

/*PAINEL INICIAL*/
.painelEscola {
    position: relative;
    height: 500px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
}

.img1 {
    position: absolute;
    object-fit: cover;
    /* preenche sem distorcer */
    z-index: 1;
    width: 100%;
    height: 100%;
}

.sobrepPainel {
    padding: 10px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(77, 94, 33, 0.4);
    /* fundo transparente opcional */
}

.sobrepPainel h1 {
    font-size: clamp(50px, 5%, 22px);
    align-items: center;
    text-align: left;
    color: rgb(246, 255, 200);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.332);
}

.img2 {
    height: 500px;
    transition: transform 0.35s ease-out;
}

.img2:hover {
    transform: scale(1.08);
}

/*SESSÃO SOBRE O SITE*/
.sobre {
    padding: 0 10%;
    width: 100%;
}

.sobre h1 {
    text-align: center;
}

.textoSobre {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.item {
    flex-wrap: wrap;
    flex: 1 1 45%;
    flex-basis: 50%;
    align-items: center;
}

/* .textoSobre p{
    padding: 5px;
} */
.textoSobre img {
    object-fit: scale-down;
    padding: 10px;
    height: 300px;
}

.contatos {
    display: flex;
    align-items: center;
}

.infraIcones {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.cardIcone {
    background-color: white;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, .4));
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    padding: 20px;
    align-content: center;
    margin: 10px;
    text-align: center;
    transition: transform 0.35s ease-out;
}

.cardIcone i {
    font-size: 50px;
}

.cardIcone:hover {
    transform: scale(1.08);
}

.cardIcone:hover i {
    color: navy;
}

.cardIcone:hover p {
    color: navy;
}

/*SESSÃO DO RODAPÉ*/
.rodape {
    background-color: rgb(226, 192, 68);
    padding: 5% 10%;
    align-content: center;
    width: 100%;
    text-align: center;
}

.rodape p {
    text-align: left;
}

.rodape h2 {
    text-align: center;
}

.rodape img {
    height: auto;
    padding: 50px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, .4));
}

.textoRodape {
    width: 100%;
    justify-content: space-around;
    display: flex;
    gap: 10px;
}

.contatos {
    gap: 10px;
}

/*SESSÃO DE PAINEL DE COLABORADORES*/
.painelServidores {
    padding: 20px 10%;
}

.cardsServidores {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardServidor {
    background-color: white;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, .4));
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    padding: 20px;
    align-content: center;
    margin: 20px;
    text-align: center;
    transition: transform 0.35s ease-out;
}

.cardServidor:hover {
    transform: scale(1.08);
}

.servFoto {
    height: 150px;
    width: auto;
    border-radius: 1000px;
}

.servNome {
    font-weight: bold;
}

.servCargo {
    font-size: clamp(16px, 10%, 22px);
    color: grey;
}

.servFrase {
    font-size: clamp(16px, 10%, 22px);
    font-style: oblique;
}

.servFrase span {
    font-size: 30px;
    color: rgb(226, 192, 68);
}

/*SESSÃO DO PAINEL DE NOTICIAS*/
.cardsNoticias {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardNoticia {
    background-color: white;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, .4));
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    align-content: center;
    margin: 20px;
    text-align: center;
    transition: transform 0.35s ease-out;
}

.cardNoticia img {
    height: auto;
    width: 400px;
}

.cardNoticia h3 {
    color: gray;
}


/*SESSÃO DE AJUSTE GERAL*/
span {
    font-weight: 700;
}

p {
    font-size: clamp(18px, 10%, 24px);
    font-family: "Be Vietnam Pro", sans-serif;
}

h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
}

h2 {
    font-family: "Be Vietnam Pro", sans-serif;
}

h3 {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}