<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Escola São Pedro - Bagé</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='src/BAGE_marca.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Faculty+Glyphic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section id="cabecalho">
        <div class="cabecalho">
            <img class="logoPrefeitura" src="/static/src/BAGE_marca.png" alt="Acesse o site oficial do munícipio">
            <div class="links_cabecalho">
                <a href="#sobre">Sobre</a>
                <a href="/pgServidores">Servidores</a>
                <a href="/pgNoticias">Notícias</a>
                <a href="#contato">Contato</a>
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </section>
    <div class="corpoSite">
        <div class="painelEscola">
            <img class="img1" src="/static/src/escolaInicial.jpg" />
            <div class="sobrepPainel">
                <img class="img2" src="/static/src/alunosInicial.png" />
                <h1>Conheça a <br> E.M.E.F. São Pedro</h1>
            </div>
        </div>
        <section id="sobre">
            <div class="sobre">
                <h1>Sobre</h1>
                <div class="textoSobre">
                    <p class="item">A Escola Municipal de Ensino Fundamental São Pedro destaca-se por sua estrutura
                        inclusiva e acessível. Oferecendo ensino fundamental nas modalidades <span>diurna</span> e
                        <span>noturna</span>, atende tanto os anos iniciais quanto os anos finais, além do EJA (Educação
                        de Jovens e Adultos). A escola é equipada com rampas, salas de recursos multifuncionais,
                        dependendo da sua <span>acessibilidade</span>, e banheiros adequados para alunos com deficiência
                        ou mobilidade reduzida.
                    </p>
                    <img class="item" src="/static/src/img3.jpeg" />
                    <p class="item">Possui uma ampla infraestrutura que inclui biblioteca, auditório, laboratórios de
                        ciências, informática e uma quadra de esportes coberta, além de um parque infantil. Com foco
                        em sustentabilidade, ainda disponibiliza acesso à internet para uso pedagógico e oferece uma
                        alimentação escolar bem planejada. A equipe é composta por profissionais capacitados para
                        garantir um ambiente de aprendizado seguro e enriquecedor para todas as crianças.</p>
                </div>
                <h2>Nossa infraestrutura conta com...</h2>
                <div class="infraIcones">
                    <div class="cardIcone">
                        <i class="fa-solid fa-wheelchair"></i>
                        <p>Depêndencias com acessibilidade</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-bowl-food"></i>
                        <p>Alimentação fornecida pela instituição</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-book"></i>
                        <p>Acesso livre à biblioteca</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-book-reader"></i>
                        <p>Sala de Leitura</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-computer"></i>
                        <p>Laboratório de informática</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-flask-vial"></i>
                        <p>Laboratório de ciências</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-futbol"></i>
                        <p>Quadra de esportes</p>
                    </div>
                    <div class="cardIcone">
                        <i class="fa-solid fa-drum"></i>
                        <p>Aulas de música e banda fanfarra</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contato">
            <div class="rodape">
                <h2>Fale conosco!</h2>
                <div class="textoRodape">
                    <div>
                        <p>AVENIDA SANTA TECLA, 337 </br> GETÚLIO VARGAS </br> 96412-000 </br> Bagé - RS.</p>
                    </div>
                    <div>
                        <div class="contatos">
                            <i class="fa-solid fa-phone"></i>
                            <p>(53)3312-4879</p>
                        </div>
                        <div class="contatos">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:emefsaopedro@hotmail.com">
                                <p>emefsaopedro@hotmail.com</p>
                            </a>
                        </div>
                    </div>
                </div>
                <img class="logoPrefeitura" src="/static/src/BAGE_marca.png" alt="Acesse o site oficial do munícipio">
            </div>
        </section>
</body>

</html>