<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

</head>

<body class="painel">
    <div class="container">
        <h1>Bem-vindo, {{ usuario }} 👋</h1>
        <p>Escolha uma opção abaixo:</p>

        <div class="menu">
            <a href="{{ url_for('cadastro_noticias') }}" class="btn">📰 Cadastrar Notícias</a>
            <a href="{{ url_for('cadastro_professores') }}" class="btn">👩‍🏫 Cadastrar Professores</a>
            <a href="{{ url_for('listar_professores') }}" class="btn">📋 Listar Professores</a>
            <a href="{{ url_for('listar_noticias') }}" class="btn">📋 Listar Notícias</a>
            <a href="{{ url_for('logout') }}" class="btn sair">🚪 Sair</a>
        </div>
    </div>
</body>

</html>